* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html {
    
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
}

body{
    background-image: url('fondo-login.png');
    background-size: 100vw 100vh;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

a{
    text-decoration: none;
}

.users-form form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 30%;
    margin: 20px auto;
    text-align: center;
}

.users-form form input{
    font-family: 'Segoe UI', sans-serif;
}

.users-form form input[type=text],
.users-form form input[type=text],
.users-form form input[type=text]{
    padding: 8px;
    border:2px solid #aaa;
    border-radius:4px;
    outline:none;
    transition:.3s;
}

.users-form form input[type=text]:focus,            /* Estilo Registro*/
.users-form form input[type=text]:focus,
.users-form form input[type=text]:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 6px 0 dodgerBlue;
}

.users-form form input[type=submit]{    
    border: none;
    padding: 12px 50px;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    background-color: white; 
    color: rgb(0, 0, 0); 
    border: 2px solid #0300a1;
    text-align: center;
}

.users-form form input[type=submit]:hover {
    background-color: #002ba1;
    color: white;
    border-radius: 20px;
    text-align: center;
}

.users-table table{                                     /* Estilo Tabla*/
    border: 3px solid rgba(0, 51, 128, 0.675);
    border-collapse: collapse;
    border-spacing: 5px 2.5px;
    padding: 0;
    width: 75%;
    table-layout: fixed;
    position:relative;
    margin:auto;
}
table tr {                              
    background-color: #f8f8f8;
    border: 3px solid rgb(7, 7, 7);
    padding: 4px;
}
tr:hover td{                        /* superposicion de los clientes en la tabla*/
    background-color: #0063a1;
    color: white;
}
table td{               /* edits en la seccion de los clientes*/
    padding: 16px;
    text-align: center;
    font-size: .85em;
}

table th{
    text-align: center;
}
.users-table--edit{                                 /* Estilo Boton editar*/
    background: #2b4eea;
    padding: 6px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 20px;
}
.users-table--delete{                                /* Estilo Boton elimiar*/
    background: #b11e1e;
    padding: 6px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 20px;
}

